/* .card_item {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 25px;
    height: 320px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    position: relative;
}

.item_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.item_img > img {
    width: 200px;
    margin-bottom: 10px;
}

.btn_add-to-card {
    width: 80%;
    text-align: center;
    height: 35px;
    line-height: 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    visibility: hidden;
    position: absolute;
    bottom: -15px;
    transition: 0.3s all;
    cursor: pointer;
    opacity: 0;
}

.btn_add-to-card:hover {
    background-color: #ba933e;
}
.card_item:hover .btn_add-to-card {
    visibility: visible;
    bottom: -8px;
    opacity: 1;
}

.card_item_action {
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.card_item_action > a {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    opacity: 0;
    border: 1px solid #ccc;
    margin-bottom: 3px;
    width: 30px;
    height: 30px;
}

.card_item_action > a:hover {
    background-color: #ba933e;
}

.card_icon {
    color: rgb(75, 72, 72);
    text-align: center;
    height: 100%;
    width: 100%;
}
.card_item_action > a:hover .card_icon {
    color: #fff;
}

.card_item:hover {
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
}

.card_item:hover .card_item_action > a {
    opacity: 1;
    transition: 0.3s;
}

.item_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.item_title {
    font-weight: bold;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 30px;
    text-align: center;
}

.item_price {
    font-weight: bold;
    color: #ee4d2d;
    margin-right: 10px;
}

.item_price_discount {
    text-decoration: line-through;
    color: #666;
}

.sale {
    color: #000;
    background-color: #ba933e;
    width: 50px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 500;
}

.item_info_price {
    display: flex;
}
 */
 
 .product-item
{
	margin-bottom: 20px;
	padding: 0;
	cursor: pointer;
}
.product-item::after
{
	display: block;
	position: absolute;
	top: 0;
	left: -1px;
	width: calc(100% + 1px);
	height: 100%;
	pointer-events: none;
	content: '';
	border: solid 2px rgba(235,235,235,0);
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.product-item:hover::after
{
	box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
	border: solid 2px rgba(235,235,235,1);
}
.product
{
	width: 100%;
	height: 340px;
	border-right: solid 1px #e9e9e9;
}
/* .product_image
{
	width: 100%;
	display: flex;
	padding-top: 10px;
}
.product_image img
{
	margin: auto;
	width: 85%;
} */

.product_image
{
	width: 100%;
	display: flex;
	padding: 40px 20px 0px;

}
.product_image img
{
	margin: auto;
	width: 85%;
}
.product_info
{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.product_title >a
{
	color: #1e1e27;
	line-height: 20px;
}
.product_title:hover >a
{
	color: #b5aec4;
}
.discount .product_info .product_price
{
	font-size: 16px;
}
.product_price
{
	display: flex;
	justify-content: center;
	font-size: 16px;
	color: #fe4c50;
	font-weight: 600;
}
.product_price span
{
	font-size: 14px;
	margin-left: 10px;
	color: #b5aec4;
	text-decoration: line-through;
}
.product_bubble
{
	position: absolute;
	top: 15px;
	width: 50px;
	height: 22px;
	border-radius: 3px;
	text-transform: uppercase;
}
.product_bubble span
{
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}
.product_bubble_right::after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 6px;
	right: auto;
	top: auto;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_left::after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 6px;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_red::after
{
	border-color: transparent transparent transparent #fe4c50;
}
.product_bubble_left::after
{
	border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_red
{
	background: #fe4c50;
}
.product_bubble_green
{
	background: #51a042;
}
.product_bubble_left
{
	left: 15px;
}
.product_bubble_right
{
	right: 15px;
}
.add_to_cart_button
{
	width: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    background-color: #fe4c50;
    margin-top: 15px;
    
}
.add_to_cart_button a
{
	font-size: 12px;
	font-weight: 600;
}
.product-item:hover .add_to_cart_button
{
	visibility: visible;
	opacity: 1;
}
.favorite
{
	position: absolute;
	top: 15px;
	right: 15px;
	color: #b9b4c7;
	width: 17px;
	height: 17px;
	visibility: hidden;
	opacity: 0;
}
.favorite_left
{
	left: 15px;
}
.favorite.active
{
	visibility: visible;
	opacity: 1;
}
.product-item:hover .favorite
{
	visibility: visible;
	opacity: 1;
}
.favorite.active::after
{
	font-family: 'FontAwesome';
	content:'\f004';
	color: #fe4c50;
}
.favorite::after
{
	font-family: 'FontAwesome';
	content:'\f08a';
}
.favorite:hover::after
{
	color: #fe4c50;
}

.red_button
{
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	background: #fe4c50;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-top: 15px;

}
.red_button:hover
{
	background: #FE7C7F !important;
}

.red_button a
{
	display: block;
	color: #FFFFFF !important;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
    text-decoration: none !important;
}
.shop_now_button
{
	width: 140px;
	margin-top: 32px;
}

.product_title {
	/* color:#282828;
	font-family: 'Poppins', sans-serif; */
    
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 30px;
    text-align: center;
    margin-top: 15px
}